*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1{
    font-family: 'Tourney', cursive;
}

h2{
    font-family: 'Righteous', cursive;
}

.user-btn{
    position: absolute;
    margin-left: 96rem;
    margin-top: 2.5rem;
    height: 4rem;
    width: 10rem;
    background-color: rgb(12, 243, 231) !important;
    font-family: 'Righteous', cursive;
    color: black !important;
    
}

.landing-page{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(178, 12, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    padding-top:100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-card{
    height: 400px;
    width: 600px !important;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(34, 31, 31, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:100px;
}

.td_style{
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
}
.td_style:hover{
    color: crimson;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    
    
}

.user-name{
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    color: white;
    width: 400px;
    border:6px solid #fde7eb;
}

.dash-card{
    height: 20rem;
    width: 20rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.8rem 2.4rem 0 rgba(36, 31, 31, 0.37);
    backdrop-filter: blur( 0.4rem );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 2.5rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );
    margin: 1.8rem 1.8rem;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding-top: 7rem;
}

.dash-card:hover{
    letter-spacing: 0.3rem;
}

.dash-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.dash-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}
/* small Dash Card starts here */

.small-dash-card{
    height: 8rem;
    width: 24rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.8rem 2.4rem 0 rgba(37, 34, 34, 0.37);
    backdrop-filter: blur( 0.4rem );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 2rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );
    margin: 1.8rem 1.8rem;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding: 1.8rem;
}

.small-dash-card:hover{
    letter-spacing: 0.3rem;
}

.small-dash-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.small-dash-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}
/* Responsiveness starts here */
@media screen and (max-width: 1200px) {
    .small-dash-card{
        width: 19rem;
    }
}
@media screen and (max-width: 868px) {
    .small-dash-card{
        width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .small-dash-card{
        width: 30rem;
    }
    .small-dash-card:hover{
        letter-spacing: 0.5rem;
    }
    .dash-card{
        width: 30rem;
        height: 10rem;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 486px) {
    .small-dash-card{
        width: 22rem;
    }
    .dash-card{
        width: 22rem;
    }
}

@media screen and (max-width: 375px) {
    .small-dash-card{
        width: 18rem;
    }
    .dash-card{
        width: 18rem;
        height: 8rem;
        padding-top: 2.25rem;
    }
}

/* Responsiveness ends here */

/* small Dash Card ends here */
.dashboard{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(60, 255, 1)); 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;  
    height: 100vh;

}

h1{
    color: white;
    font-size:xx-large;
    font-weight: bolder;
    padding: 30px 30px;
}

.user{
    color: white;
    margin-left: 1378px;
    margin-top: -9px;
    background-color: rgb(26, 25, 25);
    padding: auto;
    box-sizing: border-box;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.Upsolver{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(250, 81, 118)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.Recommender{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(245, 112, 4)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.virtualContest{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(245, 112, 4)); 

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.Ladder{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(4, 245, 173));   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}