*{
    margin: 0;
    padding: 0;
}

.landing-page{
    background:url(./component/images/landing_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    padding-top:150px;
}

.landing-card{
    height: 400px;
    width: 600px !important;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding:100px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    
    
}

.user-name{
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    color: white;
    width: 300px;
    margin-left: 120px;
    margin-top: 50px;
    border:6px solid #fde7eb;
}

.dash-card{
    height: 300px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 30px 30px;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 1px;
    overflow: hidden;
    
}

.dash-card:hover{
    letter-spacing: 4px;
}

.dash-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.dash-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}

.dashboard{
    background-image: url(./component/images/dash-bg.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

h1{
    color: white;
    font-size:xx-large;
    font-weight: bolder;
}

.user{
    color: white;
    margin-left: 1378px;
    margin-top: -9px;
    background-color: rgb(26, 25, 25);
    padding: auto;
    box-sizing: border-box;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.Upsolver{
    background-image: url(./component/images/upsolver-bg.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.Recommender{
    background-image: url(./component/images/random.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}



.short-card{
    height: 100px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 30px 30px;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 1px;
    overflow: hidden;
    
}

.short-card:hover{
    letter-spacing: 4px;
}

.short-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.short-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}