*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1{ font-family: 'Tourney', cursive; }

h2{ font-family: 'Righteous', cursive; }

.user-btn{
    position: absolute;
    margin-left: 96rem;
    margin-top: 2.5rem;
    height: 4rem;
    width: 10rem;
    background-color: rgb(12, 243, 231) !important;
    font-family: 'Righteous', cursive;
    color: black !important;
    
}

.landing-page{
    background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(178, 12, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    padding-top:6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-card{
    height: 25rem;
    width: 45rem !important;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.08rem 2.4rem 0 rgba(34, 31, 31, 0.37);
    backdrop-filter: blur( 0.04rem );
    -webkit-backdrop-filter: blur( 0.04rem );
    border-radius: 1.5rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );
    padding:7rem;
}


.td_style{
    text-decoration: none;
    color: lightgreen;
    font-weight: bold;
}
.td_style:hover{
    color: crimson;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    
    
}

.user-name{
    padding: 0.8rem;
    border-radius: 1rem;
    background: transparent;
    color: white;
    width: 28rem;
    border:0.5rem solid #fde7eb;
}

@media screen and (max-width: 1200px) {
    h1{ height: 5rem; }
    h2{ height: 3rem; }
    .landing-card{
        height: 22rem;
    }
}
@media screen and (max-width: 868px) {
    .landing-card{
        padding: 6rem;
        height: 20rem;
        width: 40rem !important;
    }
    .user-name{ width: 25rem; }
}
@media screen and (max-width: 768px) {
    .landing-card{
        padding: 4rem;
        height: 18rem;
        width: 32rem !important;
    }
    .user-name{ width: 22rem; }
}
@media screen and (max-width: 486px) {
    .landing-card{
        padding: 2rem;
        height: 15rem;
        width: 25rem !important;
    }
    .user-name{ width: 18rem; border:0.3rem solid #fde7eb; }
}
@media screen and (max-width: 375px) {
    h1{ height: 7rem; }
    h2{ height: 4rem; }
    .landing-card{
        padding: 2rem;
        height: 15rem;
        width: 18rem !important;
    }
    .user-name{ width: 12rem; border:0.3rem solid #fde7eb; }
    .landing-page{ height: 120vh; }
}

.dashboard{
    background-color: rgb(23, 45, 248);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;  
    height: 120vh;
}

.dash-card{
    height: 18rem;
    width: 20rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.8rem 2.4rem 0 rgba(36, 31, 31, 0.37);
    backdrop-filter: blur( 0.4rem );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 2.5rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );
    margin: 1.8rem 1.8rem;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding-top: 7rem;
}

.dash-card:hover{
    letter-spacing: 0.3rem;
}

.dash-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.dash-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}

/* Responsiveness starts here */

@media screen and (max-width: 1200px) {
    .dash-card{
        width: 19rem;
    }
}
@media screen and (max-width: 868px) {
    .dash-card{
        width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .dash-card{
        width: 30rem;
    }
    .dash-card:hover{
        letter-spacing: 0.5rem;
    }
}

@media screen and (max-width: 486px) {
    .dash-card{
        width: 22rem;
    }
}

@media screen and (max-width: 375px) {
    .dash-card{
        width: 18rem;
    }
}

/* small Dash Card starts here */

.small-dash-card{
    height: 8rem;
    width: 24rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0.8rem 2.4rem 0 rgba(37, 34, 34, 0.37);
    backdrop-filter: blur( 0.4rem );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 2rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );
    margin: 1.8rem 1.8rem;  
    cursor: pointer; 
    transition: 0.3s;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding: 1.8rem;
}

.small-dash-card:hover{
    letter-spacing: 0.3rem;
}

.small-dash-card ::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent );
    transform: skewX(45deg) translateX(0%);
    transition: 0.4s;
}

.small-dash-card:hover ::before{
    transform: skewX(45deg) translateX(300%);
    
}
/* Responsiveness starts here */
@media screen and (max-width: 1200px) {
    .small-dash-card{
        width: 19rem;
    }
}
@media screen and (max-width: 868px) {
    .small-dash-card{
        width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .small-dash-card{
        width: 30rem;
    }
    .small-dash-card:hover{
        letter-spacing: 0.5rem;
    }
}

@media screen and (max-width: 486px) {
    .small-dash-card{
        width: 22rem;
    }
}

@media screen and (max-width: 375px) {
    .small-dash-card{
        width: 18rem;
    }
}

/* Responsiveness ends here */

/* small Dash Card ends here */

h1{
    color: white;
    font-size:xx-large;
    font-weight: bolder;
    padding: 30px 30px;
}

.user{
    color: white;
    margin-left: 1378px;
    margin-top: -9px;
    background-color: rgb(26, 25, 25);
    padding: auto;
    box-sizing: border-box;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.Upsolver{
 /*   background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(250, 81, 118)); */
 background-color: rgb(11, 171, 245);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.Recommender{
   /* background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(245, 112, 4)); 
 */   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.virtualContest{
  /*  background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(245, 112, 4)); 
*/
    background-color: darkolivegreen;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}

.Ladder{
  /*  background: linear-gradient(to bottom right,rgb(8, 4, 255), rgb(4, 245, 173));   */
    background-color: firebrick;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}



/*------------------ Loader CSS -----------------*/


.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
	animation: animate 1.2s ease-in-out infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		height: 40px;
		width: 40px;
	}
	65% {
		height: 70px;
		width: 70px;
	}
}

.Lspan {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	animation: rotate 1.2s linear both infinite;
}

@keyframes rotate {
	0%,
	30% {
		transform: rotate(0);
	}
	65% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

.Lspan:nth-child(1) {
	top: 0;
	left: 0;
	background: #55d462;
}

.Lspan:nth-child(2) {
	top: 0;
	right: 0;
	background: #8675e5;
}

.Lspan:nth-child(3) {
	bottom: 0;
	left: 0;
	background: #d84c77;
}

.Lspan:nth-child(4) {
	bottom: 0;
	right: 0;
	background: #fd9a3f;
}


/*--------------------vizualizer------------------------*/



